In [34]:
import pandas as pd
import numpy as np
from itertools import combinations
from functools import reduce
from collections import Iterable

# use for vertify 
from mlxtend.frequent_patterns import apriori, association_rules

In [35]:
# df = pd.read_csv(
#     '/home/sokhorn/sokhorn/dataSet/data/sample_data_set.csv', sep=',')
# df.drop(['Unnamed: 0'], axis=1, inplace=True)
# df
df = pd.read_csv(
    '/home/sokhorn/sokhorn/dataSet/data/Online Retail.csv', sep=',')
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df

/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,InvoiceNo,StockCode,lower,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...,...
541919,581598,22613,NaN,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541920,581599,22899,NaN,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541921,581600,23254,NaN,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541922,581601,23255,NaN,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541923,581602,22138,NaN,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [36]:
sample_dataset = df[[
    'InvoiceNo',
    'StockCode',
    'Quantity'
]]
sample_dataset

       InvoiceNo StockCode  Quantity
0         536365    85123A         6
1         536365     71053         6
2         536365    84406B         8
3         536365    84029G         6
4         536365    84029E         6
...          ...       ...       ...
541919    581598     22613        12
541920    581599     22899         6
541921    581600     23254         4
541922    581601     23255         4
541923    581602     22138         3

[541924 rows x 3 columns]

In [37]:
item_sets = (
    sample_dataset.groupby(['InvoiceNo', 'StockCode', ])['Quantity']
    .sum().unstack().reset_index().fillna(0)
    .set_index("InvoiceNo")
)
item_sets

StockCode,10002,10080,10120,10123C,10123G,10124A,10124G,10125,10133,10134,...,M,PADS,POST,S,gift_0001_10,gift_0001_20,gift_0001_30,gift_0001_40,gift_0001_50,m
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536369,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C581484,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C581490,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C581499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C581568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C581569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
def en_code(x):
    if x > 0:
        return 1
    else:
        return 0

In [39]:
item_sets = item_sets.applymap(en_code)
item_sets

StockCode,10002,10080,10120,10123C,10123G,10124A,10124G,10125,10133,10134,...,M,PADS,POST,S,gift_0001_10,gift_0001_20,gift_0001_30,gift_0001_40,gift_0001_50,m
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C581484,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581490,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
from itertools import combinations

In [41]:
cc = list(combinations(item_sets.columns, 1))
cc

[('10002',),
 ('10080',),
 ('10120',),
 ('10123C',),
 ('10123G',),
 ('10124A',),
 ('10124G',),
 ('10125',),
 ('10133',),
 ('10134',),
 ('10135',),
 ('11001',),
 ('15030',),
 ('15034',),
 ('15036',),
 ('15039',),
 ('15044A',),
 ('15044B',),
 ('15044C',),
 ('15044D',),
 ('15056BL',),
 ('15056N',),
 ('15056P',),
 ('15056bl',),
 ('15056n',),
 ('15056p',),
 ('15058A',),
 ('15058B',),
 ('15058C',),
 ('15060B',),
 ('15060b',),
 ('16008',),
 ('16010',),
 ('16011',),
 ('16012',),
 ('16014',),
 ('16015',),
 ('16016',),
 ('16020C',),
 ('16033',),
 ('16043',),
 ('16045',),
 ('16046',),
 ('16048',),
 ('16049',),
 ('16052',),
 ('16053',),
 ('16054',),
 ('16151A',),
 ('16156L',),
 ('16156S',),
 ('16161G',),
 ('16161M',),
 ('16161P',),
 ('16161U',),
 ('16162L',),
 ('16162M',),
 ('16168M',),
 ('16169E',),
 ('16169K',),
 ('16169M',),
 ('16169N',),
 ('16169P',),
 ('16202A',),
 ('16202B',),
 ('16202E',),
 ('16206B',),
 ('16207A',),
 ('16207B',),
 ('16216',),
 ('16218',),
 ('16219',),
 ('16225',),
 ('16235',),
 ('16236',),
 ('16237',),
 ('16238',),
 ('16244B',),
 ('16248B',),
 ('16254',),
 ('16258A',),
 ('16259',),
 ('17001',),
 ('17003',),
 ('17007B',),
 ('17011A',),
 ('17011F',),
 ('17012A',),
 ('17012B',),
 ('17012C',),
 ('17012D',),
 ('17012E',),
 ('17012F',),
 ('17013D',),
 ('17014A',),
 ('17021',),
 ('17028J',),
 ('17038',),
 ('17084A',),
 ('17084J',),
 ('17084N',),
 ('17084P',),
 ('17084R',),
 ('17090A',),
 ('17090D',),
 ('17091A',),
 ('17091J',),
 ('17096',),
 ('17107D',),
 ('17109D',),
 ('17129F',),
 ('17136A',),
 ('17164B',),
 ('17165D',),
 ('17174',),
 ('17191A',),
 ('18007',),
 ('18094C',),
 ('18097A',),
 ('18097C',),
 ('18098C',),
 ('18098c',),
 ('20615',),
 ('20616',),
 ('20617',),
 ('20618',),
 ('20619',),
 ('20622',),
 ('20652',),
 ('20653',),
 ('20654',),
 ('20655',),
 ('20657',),
 ('20658',),
 ('20659',),
 ('20661',),
 ('20662',),
 ('20663',),
 ('20664',),
 ('20665',),
 ('20666',),
 ('20667',),
 ('20668',),
 ('20669',),
 ('20670',),
 ('20671',),
 ('20674',),
 ('20675',),
 ('20676',),
 ('20677',),
 ('20678',),
 ('20679',),
 ('20681',),
 ('20682',),
 ('20684',),
 ('20685',),
 ('20686',),
 ('20689',),
 ('20694',),
 ('20695',),
 ('20696',),
 ('20697',),
 ('20698',),
 ('20699',),
 ('20700',),
 ('20701',),
 ('20702',),
 ('20703',),
 ('20704',),
 ('20705',),
 ('20707',),
 ('20711',),
 ('20712',),
 ('20713',),
 ('20716',),
 ('20717',),
 ('20718',),
 ('20719',),
 ('20723',),
 ('20724',),
 ('20725',),
 ('20726',),
 ('20727',),
 ('20728',),
 ('20731',),
 ('20733',),
 ('20734',),
 ('20735',),
 ('20738',),
 ('20748',),
 ('20749',),
 ('20750',),
 ('20751',),
 ('20752',),
 ('20754',),
 ('20755',),
 ('20756',),
 ('20757',),
 ('20758',),
 ('20759',),
 ('20760',),
 ('20761',),
 ('20762',),
 ('20763',),
 ('20764',),
 ('20765',),
 ('20766',),
 ('20767',),
 ('20768',),
 ('20769',),
 ('20770',),
 ('20771',),
 ('20772',),
 ('20773',),
 ('20774',),
 ('20775',),
 ('20777',),
 ('20778',),
 ('20780',),
 ('20781',),
 ('20782',),
 ('20785',),
 ('20793',),
 ('20794',),
 ('20795',),
 ('20796',),
 ('20798',),
 ('20801',),
 ('20802',),
 ('20803',),
 ('20816',),
 ('20818',),
 ('20819',),
 ('20820',),
 ('20821',),
 ('20823',),
 ('20825',),
 ('20826',),
 ('20827',),
 ('20828',),
 ('20829',),
 ('20830',),
 ('20831',),
 ('20832',),
 ('20835',),
 ('20836',),
 ('20837',),
 ('20838',),
 ('20839',),
 ('20840',),
 ('20845',),
 ('20846',),
 ('20847',),
 ('20848',),
 ('20849',),
 ('20850',),
 ('20851',),
 ('20854',),
 ('20856',),
 ('20857',),
 ('20860',),
 ('20861',),
 ('20863',),
 ('20864',),
 ('20866',),
 ('20867',),
 ('20868',),
 ('20869',),
 ('20871',),
 ('20878',),
 ('20886',),
 ('20892',),
 ('20893',),
 ('20894',),
 ('20896',),
 ('20897',),
 ('20898',),
 ('20901',),
 ('20902',),
 ('20903',),
 ('20906',),
 ('20910',),
 ('20914',),
 ('20931',),
 ('20932',),
 ('20933',),
 ('20934',),
 ('20935',),
 ('20936',),
 ('20941',),
 ('20950',),
 ('20954',),
 ('20956',),
 ('20957',),
 ('20960',),
 ('20961',),
 ('20963',),
 ('20964',),
 ('20966',),
 ('20967',),
 ('20969',),
 ('20970',),
 ('20971',),
 ('20972',),
 ('20973',),
 ('20974',),
 ('20975',),
 ('20977',),
 ('20978',),
 ('20979',),
 ('20980',),
 ('20981',),
 ('20982',),
 ('20983',),
 ('20984',),
 ('20985',),
 ('20986',),
 ('20992',),
 ('20996',),
 ('20997',),
 ('20998',),
 ('21000',),
 ('21001',),
 ('21002',),
 ('21003',),
 ('21009',),
 ('21011',),
 ('21012',),
 ('21014',),
 ('21015',),
 ('21018',),
 ('21025',),
 ('21026',),
 ('21027',),
 ('21028',),
 ('21030',),
 ('21031',),
 ('21032',),
 ('21033',),
 ('21034',),
 ('21035',),
 ('21038',),
 ('21039',),
 ('21040',),
 ('21041',),
 ('21042',),
 ('21043',),
 ('21051',),
 ('21054',),
 ('21055',),
 ('21056',),
 ('21058',),
 ('21059',),
 ('21060',),
 ('21061',),
 ('21062',),
 ('21063',),
 ('21064',),
 ('21065',),
 ('21066',),
 ('21067',),
 ('21068',),
 ('21069',),
 ('21070',),
 ('21071',),
 ('21078',),
 ('21080',),
 ('21082',),
 ('21084',),
 ('21086',),
 ('21087',),
 ('21088',),
 ('21089',),
 ('21090',),
 ('21094',),
 ('21095',),
 ('21096',),
 ('21098',),
 ('21100',),
 ('21106',),
 ('21107',),
 ('21108',),
 ('21109',),
 ('21110',),
 ('21111',),
 ('21112',),
 ('21114',),
 ('21115',),
 ('21116',),
 ('21117',),
 ('21120',),
 ('21121',),
 ('21122',),
 ('21123',),
 ('21124',),
 ('21125',),
 ('21126',),
 ('21128',),
 ('21129',),
 ('21131',),
 ('21132',),
 ('21134',),
 ('21135',),
 ('21136',),
 ('21137',),
 ('21143',),
 ('21144',),
 ('21145',),
 ('21147',),
 ('21154',),
 ('21155',),
 ('21156',),
 ('21157',),
 ('21158',),
 ('21159',),
 ('21160',),
 ('21161',),
 ('21162',),
 ('21163',),
 ('21164',),
 ('21165',),
 ('21166',),
 ('21167',),
 ('21169',),
 ('21171',),
 ('21172',),
 ('21174',),
 ('21175',),
 ('21179',),
 ('21181',),
 ('21186',),
 ('21187',),
 ('21188',),
 ('21189',),
 ('21190',),
 ('21191',),
 ('21192',),
 ('21194',),
 ('21195',),
 ('21196',),
 ('21197',),
 ('21198',),
 ('21199',),
 ('21200',),
 ('21201',),
 ('21202',),
 ('21204',),
 ('21205',),
 ('21206',),
 ('21207',),
 ('21208',),
 ('21209',),
 ('21210',),
 ('21211',),
 ('21212',),
 ('21213',),
 ('21215',),
 ('21216',),
 ('21217',),
 ('21218',),
 ('21219',),
 ('21220',),
 ('21221',),
 ('21222',),
 ('21224',),
 ('21226',),
 ('21228',),
 ('21231',),
 ('21232',),
 ('21238',),
 ('21239',),
 ('21240',),
 ('21242',),
 ('21243',),
 ('21244',),
 ('21245',),
 ('21246',),
 ('21248',),
 ('21249',),
 ('21250',),
 ('21251',),
 ('21253',),
 ('21257',),
 ('21258',),
 ('21259',),
 ('21260',),
 ('21261',),
 ('21262',),
 ('21263',),
 ('21264',),
 ('21265',),
 ('21268',),
 ('21269',),
 ('21270',),
 ('21272',),
 ('21274',),
 ('21275',),
 ('21277',),
 ('21278',),
 ('21279',),
 ('21280',),
 ('21281',),
 ('21282',),
 ('21283',),
 ('21284',),
 ('21285',),
 ('21286',),
 ('21287',),
 ('21288',),
 ('21289',),
 ('21291',),
 ('21292',),
 ('21293',),
 ('21294',),
 ('21306',),
 ('21307',),
 ('21310',),
 ('21311',),
 ('21313',),
 ('21314',),
 ('21316',),
 ('21317',),
 ('21318',),
 ('21319',),
 ('21320',),
 ('21324',),
 ('21326',),
 ('21327',),
 ('21328',),
 ('21329',),
 ('21330',),
 ('21331',),
 ('21332',),
 ('21333',),
 ('21336',),
 ('21337',),
 ('21340',),
 ('21344',),
 ('21348',),
 ('21349',),
 ('21351',),
 ('21352',),
 ('21354',),
 ('21355',),
 ('21356',),
 ('21357',),
 ('21358',),
 ('21359',),
 ('21360',),
 ('21361',),
 ('21363',),
 ('21364',),
 ('21365',),
 ('21366',),
 ('21367',),
 ('21368',),
 ('21369',),
 ('21370',),
 ('21371',),
 ('21372',),
 ('21373',),
 ('21374',),
 ('21375',),
 ('21376',),
 ('21377',),
 ('21378',),
 ('21379',),
 ('21380',),
 ('21381',),
 ('21382',),
 ('21383',),
 ('21385',),
 ('21386',),
 ('21389',),
 ('21390',),
 ('21391',),
 ('21392',),
 ('21393',),
 ('21394',),
 ('21395',),
 ('21397',),
 ('21398',),
 ('21399',),
 ('21400',),
 ('21401',),
 ('21402',),
 ('21403',),
 ('21407',),
 ('21408',),
 ('21410',),
 ('21411',),
 ('21412',),
 ('21413',),
 ('21414',),
 ('21415',),
 ('21416',),
 ('21417',),
 ('21418',),
 ('21420',),
 ('21421',),
 ('21422',),
 ('21424',),
 ('21425',),
 ('21426',),
 ('21427',),
 ('21428',),
 ('21429',),
 ('21430',),
 ('21431',),
 ('21432',),
 ('21439',),
 ('21441',),
 ('21442',),
 ('21445',),
 ('21446',),
 ('21447',),
 ('21448',),
 ('21452',),
 ('21454',),
 ('21455',),
 ('21456',),
 ('21457',),
 ('21458',),
 ('21459',),
 ('21460',),
 ('21461',),
 ('21462',),
 ('21463',),
 ('21464',),
 ('21465',),
 ('21466',),
 ('21467',),
 ('21468',),
 ('21469',),
 ('21470',),
 ('21471',),
 ('21472',),
 ('21473',),
 ('21474',),
 ('21476',),
 ('21479',),
 ('21481',),
 ('21484',),
 ('21485',),
 ('21486',),
 ('21488',),
 ('21491',),
 ('21494',),
 ('21495',),
 ('21497',),
 ('21498',),
 ('21499',),
 ('21500',),
 ('21503',),
 ('21504',),
 ('21506',),
 ('21507',),
 ('21508',),
 ('21509',),
 ('21511',),
 ('21518',),
 ('21519',),
 ('21520',),
 ('21523',),
 ('21524',),
 ('21527',),
 ('21528',),
 ('21530',),
 ('21531',),
 ('21533',),
 ('21534',),
 ('21535',),
 ('21537',),
 ('21538',),
 ('21539',),
 ('21544',),
 ('21547',),
 ('21555',),
 ('21556',),
 ('21557',),
 ('21558',),
 ('21559',),
 ('21561',),
 ('21562',),
 ('21563',),
 ('21564',),
 ('21576',),
 ('21577',),
 ('21578',),
 ('21579',),
 ('21580',),
 ('21581',),
 ('21584',),
 ('21586',),
 ('21587',),
 ('21588',),
 ('21589',),
 ('21591',),
 ('21592',),
 ('21594',),
 ('21595',),
 ('21609',),
 ('21610',),
 ('21613',),
 ('21614',),
 ('21615',),
 ('21616',),
 ('21617',),
 ('21618',),
 ('21619',),
 ('21620',),
 ('21621',),
 ('21622',),
 ('21623',),
 ('21624',),
 ('21625',),
 ('21626',),
 ('21627',),
 ('21628',),
 ('21629',),
 ('21630',),
 ('21631',),
 ('21632',),
 ('21633',),
 ('21634',),
 ('21635',),
 ('21636',),
 ('21637',),
 ('21638',),
 ('21640',),
 ('21641',),
 ('21642',),
 ('21643',),
 ('21644',),
 ('21645',),
 ('21647',),
 ('21648',),
 ('21650',),
 ('21651',),
 ('21653',),
 ('21654',),
 ('21655',),
 ('21656',),
 ('21657',),
 ('21658',),
 ('21661',),
 ('21662',),
 ('21664',),
 ('21666',),
 ('21667',),
 ('21668',),
 ('21669',),
 ('21670',),
 ('21671',),
 ('21672',),
 ('21673',),
 ('21675',),
 ('21676',),
 ('21677',),
 ('21678',),
 ('21679',),
 ('21680',),
 ('21681',),
 ('21682',),
 ('21683',),
 ('21684',),
 ('21686',),
 ('21688',),
 ('21689',),
 ('21690',),
 ('21692',),
 ('21693',),
 ('21694',),
 ('21695',),
 ('21696',),
 ('21698',),
 ('21700',),
 ('21703',),
 ('21704',),
 ('21705',),
 ('21706',),
 ('21707',),
 ('21708',),
 ('21709',),
 ('21710',),
 ('21711',),
 ('21713',),
 ('21714',),
 ('21715',),
 ('21716',),
 ('21717',),
 ('21718',),
 ('21719',),
 ('21720',),
 ('21721',),
 ('21722',),
 ('21723',),
 ('21724',),
 ('21725',),
 ('21726',),
 ('21730',),
 ('21731',),
 ('21733',),
 ('21735',),
 ('21736',),
 ('21738',),
 ('21739',),
 ('21741',),
 ('21742',),
 ('21743',),
 ('21744',),
 ('21745',),
 ('21746',),
 ('21747',),
 ('21749',),
 ('21750',),
 ('21754',),
 ('21755',),
 ('21756',),
 ('21757',),
 ('21758',),
 ('21761',),
 ('21763',),
 ('21765',),
 ('21769',),
 ('21770',),
 ('21773',),
 ('21774',),
 ('21775',),
 ('21777',),
 ('21781',),
 ('21784',),
 ('21785',),
 ('21786',),
 ('21787',),
 ('21788',),
 ('21789',),
 ('21790',),
 ('21791',),
 ('21792',),
 ('21793',),
 ('21794',),
 ('21801',),
 ('21802',),
 ('21803',),
 ('21804',),
 ('21805',),
 ('21806',),
 ('21807',),
 ('21808',),
 ('21809',),
 ('21810',),
 ('21811',),
 ('21812',),
 ('21813',),
 ('21814',),
 ('21815',),
 ('21816',),
 ('21817',),
 ('21818',),
 ('21819',),
 ('21820',),
 ('21821',),
 ('21822',),
 ('21823',),
 ('21824',),
 ('21825',),
 ('21826',),
 ('21827',),
 ('21828',),
 ('21829',),
 ('21830',),
 ('21832',),
 ('21833',),
 ('21836',),
 ('21839',),
 ('21841',),
 ('21843',),
 ('21844',),
 ('21845',),
 ('21846',),
 ('21847',),
 ('21849',),
 ('21850',),
 ('21851',),
 ('21854',),
 ('21858',),
 ('21864',),
 ('21865',),
 ('21866',),
 ('21867',),
 ('21868',),
 ('21870',),
 ('21871',),
 ('21872',),
 ('21873',),
 ('21874',),
 ('21875',),
 ('21876',),
 ('21877',),
 ('21878',),
 ('21879',),
 ('21880',),
 ('21881',),
 ('21882',),
 ('21883',),
 ('21884',),
 ('21888',),
 ('21889',),
 ('21890',),
 ('21891',),
 ('21892',),
 ('21894',),
 ('21895',),
 ('21896',),
 ('21897',),
 ('21898',),
 ('21899',),
 ('21900',),
 ('21901',),
 ('21902',),
 ('21903',),
 ('21904',),
 ('21905',),
 ('21906',),
 ('21907',),
 ('21908',),
 ('21910',),
 ('21911',),
 ('21912',),
 ('21913',),
 ('21914',),
 ('21915',),
 ('21916',),
 ('21917',),
 ('21918',),
 ('21922',),
 ('21923',),
 ('21925',),
 ('21926',),
 ('21927',),
 ('21928',),
 ('21929',),
 ('21930',),
 ('21931',),
 ('21932',),
 ('21933',),
 ('21934',),
 ('21935',),
 ('21936',),
 ('21937',),
 ('21942',),
 ('21943',),
 ('21944',),
 ('21945',),
 ('21946',),
 ('21947',),
 ('21948',),
 ('21949',),
 ('21955',),
 ('21967',),
 ('21972',),
 ('21973',),
 ('21974',),
 ('21975',),
 ('21976',),
 ('21977',),
 ('21980',),
 ('21981',),
 ('21982',),
 ('21983',),
 ('21984',),
 ('21985',),
 ('21986',),
 ('21987',),
 ('21988',),
 ('21989',),
 ('21990',),
 ('21991',),
 ('21992',),
 ('21993',),
 ('22016',),
 ('22021',),
 ('22023',),
 ('22024',),
 ('22025',),
 ('22026',),
 ('22027',),
 ('22028',),
 ('22029',),
 ('22030',),
 ('22031',),
 ('22032',),
 ('22033',),
 ('22034',),
 ('22035',),
 ('22036',),
 ('22037',),
 ('22038',),
 ('22039',),
 ...]

In [42]:
item_sets[sorted(cc[0])].sum() / len(item_sets)

StockCode
10002    0.002778
dtype: float64

In [43]:
item_sets

StockCode,10002,10080,10120,10123C,10123G,10124A,10124G,10125,10133,10134,...,M,PADS,POST,S,gift_0001_10,gift_0001_20,gift_0001_30,gift_0001_40,gift_0001_50,m
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C581484,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581490,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
k_itemst = item_sets[['22748', '22749']]
k_itemst.loc[(k_itemst['22748'] > 0) & (k_itemst['22749'] > 0)]

StockCode  22748  22749
InvoiceNo
536367         1      1
536592         1      1
537050         1      1
537468         1      1
538104         1      1
...          ...    ...
580367         1      1
580399         1      1
580730         1      1
581439         1      1
581492         1      1

[74 rows x 2 columns]

In [45]:
item_sets[['22748', '22749']]

StockCode  22748  22749
InvoiceNo
536365         0      0
536366         0      0
536367         1      1
536368         0      0
536369         0      0
...          ...    ...
C581484        0      0
C581490        0      0
C581499        0      0
C581568        0      0
C581569        0      0

[25915 rows x 2 columns]

In [46]:
item_sets[['22748', '22749']].values

array([[0, 0],
       [0, 0],
       [1, 1],
       ...,
       [0, 0],
       [0, 0],
       [0, 0]])

In [47]:
support_count = 0
for i in item_sets[['22748', '22749']].values:
    if(np.all(i != 0)):
        support_count += 1
support_count

74

In [48]:
item_sets

StockCode,10002,10080,10120,10123C,10123G,10124A,10124G,10125,10133,10134,...,M,PADS,POST,S,gift_0001_10,gift_0001_20,gift_0001_30,gift_0001_40,gift_0001_50,m
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C581484,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581490,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
item_sets[sorted(cc[1])].values[1] = 0

In [50]:
def calculate_support(k_itemst, trnaction_size=len(item_sets.index)):
    support_count = 0
    for i in k_itemst.values:
        if(np.all(i != 0)):
            support_count += 1
    return support_count / trnaction_size

**_Frequent Itemset Generation_**

In [51]:
# min_support = 0.2
# k = 1
# item_sest_1 = combinations(item_sets.columns, k)
# c1 = [
#     {
#         "Item": x,
#         "Support":  calculate_support(item_sets[sorted(x)])
#     }
#     for x in sorted(item_sest_1)
#     if calculate_support(item_sets[sorted(x)]) >= min_support
# ]
# frequent_kitemset = c1
# while(True):

#     k += 1
#     item_sest_k = combinations(item_sets.columns, k)

#     c_k = [
#         {
#             "Item": x,
#             "Support":  calculate_support(item_sets[sorted(x)])
#         }
#         for x in sorted(item_sest_k)
#         if calculate_support(item_sets[sorted(x)]) >= min_support
#     ] # generate untill we found ck equal to null 

#     if(len(c_k) == 0):
#         break
#     else:
#         frequent_kitemset.append(c_k)


# flat_list = []
# for sublist in frequent_kitemset:
#     if(len(sublist) == 2):
#         flat_list.append(sublist)
#     else:
#         for item in sublist:
#             flat_list.append(item)
# fk = pd.DataFrame(flat_list)
#fk

### old code

**Other Function of Apriori**

In [53]:
# def APRIORI_MY(data, min_support=0.04,  max_length=4):
#     # Collecting Required Library
#     import numpy as np
#     import pandas as pd
#     from itertools import combinations
#     # Step 1:
#     # Creating a dictionary to stored support of an itemset.
#     support = {}
#     L = list(data.columns)

#     # Step 2:
#     # generating combination of items with len i in ith iteration
#     for i in range(1, max_length+1):
#         c = set(combinations(L, i))

#     # Reset "L" for next ith iteration
#         L = set()
#     # Step 3:
#         # iterate through each item in "c"
#         for j in list(c):

#             sup = data.loc[:, j].product(axis=1).sum()/len(data.index)

#             if sup > min_support:
#                 #print(sup, j)
#                 support[j] = sup

#                 # Appending frequent itemset in list "L", already reset list "L"
#                 L = list(set(L) | set(j))

#     # Step 4: data frame with cols "items", 'support'
#     result = pd.DataFrame(list(support.items()), columns=["Items", "Support"])
#     return(result)



# min_support = 0.2
# item_sest_1 = combinations(item_sets.columns, 1)
# c1 = [
#     {
#         "Item": x,
#         "Support":  calculate_support(item_sets[sorted(x)])
#     }
#     for x in sorted(item_sest_1)
#     if calculate_support(item_sets[sorted(x)]) >= min_support
# ]

# k = 1
# frequent_kitemset = c1
# while(len(frequent_kitemset) != 0):

#     k += 1
#     item_sest_k = combinations(item_sets.columns, k)

#     c_k = [
#         {
#             "Item": x,
#             "Support":  calculate_support(item_sets[sorted(x)])
#         }
#         for x in sorted(item_sest_k)
#         if calculate_support(item_sets[sorted(x)]) >= min_support
#     ]

#     if(len(c_k) == 0):
#         break
#     else:
#         frequent_kitemset.append(c_k)


# flat_list = []
# for sublist in frequent_kitemset:
#     if(len(sublist) == 2):
#         flat_list.append(sublist)
#     else:
#         for item in sublist:
#             flat_list.append(item)
# fk = pd.DataFrame(flat_list)

In [54]:
# fk = APRIORI_MY(item_sets)
# fk

**Apriori**

In [55]:
item_sets

StockCode,10002,10080,10120,10123C,10123G,10124A,10124G,10125,10133,10134,...,M,PADS,POST,S,gift_0001_10,gift_0001_20,gift_0001_30,gift_0001_40,gift_0001_50,m
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C581484,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581490,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
item_name =  item_sets.columns
item_name

Index(['10002', '10080', '10120', '10123C', '10123G', '10124A', '10124G',
       '10125', '10133', '10134',
       ...
       'M', 'PADS', 'POST', 'S', 'gift_0001_10', 'gift_0001_20',
       'gift_0001_30', 'gift_0001_40', 'gift_0001_50', 'm'],
      dtype='object', name='StockCode', length=4070)

In [57]:
items =  item_sets.to_numpy()
items

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

*Generating Itemset*

In [58]:
# generint first itemset 
C = {}
L = {}
Discard = {}
itemset_size = 1
Discard.update({itemset_size : []})
C.update({itemset_size : [ [f] for f in item_name ]})

In [59]:
item_sets

StockCode,10002,10080,10120,10123C,10123G,10124A,10124G,10125,10133,10134,...,M,PADS,POST,S,gift_0001_10,gift_0001_20,gift_0001_30,gift_0001_40,gift_0001_50,m
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C581484,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581490,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

**Generating RC Column**

In [60]:
item_sets['RC'] = 0
item_sets

StockCode,10002,10080,10120,10123C,10123G,10124A,10124G,10125,10133,10134,...,PADS,POST,S,gift_0001_10,gift_0001_20,gift_0001_30,gift_0001_40,gift_0001_50,m,RC
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C581484,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581490,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
item_np =  item_sets.values
item_np

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [62]:
# dup = []
# for i in range(len(item_np)):
#     item_i = item_np[i]
#     RC = 1
#     dup_list = []
#     for j in range(len(item_np)):
#         item_j = item_np[j]
#         if(i != j):
#             print(f'{i} : {item_i}, {j} : {item_j}')
#             if (item_i == item_j).all():
#                 RC += 1
#                 dup.append({
#                     item_i: RC
#                 })
#     for d in dup:
#         if (item_i != d):
#             dup.append({
#                 item_i: RC
#             })
#     print("\n")
# dup

In [63]:
# unique_rows, index = np.unique(item_np, axis=0)
# print(unique_rows)

we want to update RC Only with item itemset in row of tranction 
We increase only RC when item are duplicate

In [64]:
item_np

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [65]:
item_rc = []
for i in range(len(item_np)):
    item_i = item_np[i]
    RC = 1
    aa = {
        "Item": item_i,
        "RC": RC
    }
    item_rc.append(aa)
    for j in range(len(item_np)):
        item_j = item_np[j]
        if i != j:
            if (item_i == item_j).all():
                RC += 1
                item_rc[i] = {
                    "Item": item_i,
                    "RC": RC
                }
item_rc

In [ ]:
df_rc =  pd.DataFrame(item_rc)
df_rc

In [ ]:
df_rc['Item'] = df_rc['Item'].apply(lambda x : str(x))
df_rc.drop_duplicates(inplace=True)

In [ ]:
def clean_str(str):
    str_list =  list((str.replace("[","").replace("]","").split(" ")))
    return [int (i) for i in str_list]

In [ ]:
df_rc['Item'] =  df_rc['Item'].apply(clean_str)
split_df = pd.DataFrame(df_rc['Item'].tolist(), columns=item_sets.columns)

In [ ]:
item_sets

In [ ]:
split_df.set_index(df_rc.index, inplace=True)
split_df['RC'] = df_rc['RC']
split_df

In [ ]:
RC = split_df['RC'].values
RC

In [ ]:
aa = split_df[['21730', '22752', '71053', '84029E', '84029G']].values
aa

In [ ]:
def support_k_itemst(k_itemst):
    s = 0
    for i in range(len(k_itemst)):
        s += reduce(lambda a, b: a & b, k_itemst[i] & RC[i])
    return s

In [ ]:
C = {}
L = {}
Discard = {}
itemset_size = 1

In [ ]:
def count_ocurence(itemset, Tranctions):
    count = 0
    for i in range(len(Tranctions)):
        if set(itemset).issubset(set(Tranctions[i])):
            count += 1
    return count

In [ ]:
def join_set_item(set_of_its, order_column_name):
    C = []
    for i in range(len(set_of_its)):
        for j in range(i + 1, len(set_of_its)):
            it_out = join_two_itemsets(
                set_of_its[i], set_of_its[j], order_column_name)
            if(len(it_out)) > 0:
                C.append(it_out)

    return C

In [ ]:
def join_two_itemsets(it1, it2, order):
    it1.sort(key=lambda x : order.index(x))
    it2.sort(key=lambda x : order.index(x))

    for i in range(len(it1) - 1): # check befor the last one 
       if it1[i] != it2 [i] :
           return []
    
    if order.index(it1[-1]) < order.index(it2[-1]) :
        return [it1] + [it2[-1]]

    return []

In [ ]:
def mergeKItemIntoOne(ab):
    result = []
    if(len(ab) != 0):
        if(len(ab[0]) == 1):
            return ab
        else:
            for item in ab:
                res = item[0] + item[1].split()
                result.append(res)
        return result

In [ ]:
def get_frequent(itemesets, min_support, prev_discard):
    L = []
    support_count = []
    new_discard = []
    column_items = mergeKItemIntoOne(itemesets)
   
    k = len(prev_discard)
    for i in range(len(itemesets)):
        discard_before = False
        item = itemesets[i] 
        result = []
        for i_item in item:
            if isinstance(i_item, list):
                for j in i_item:
                    result.append(j)
            else:
                result.append(i_item)

        if k > 0:
            for it in prev_discard[k]:
                if set(it).issubset(set(result)):
                    discard_before = True
                    break
        
        if not discard_before:
            count = support_k_itemst(split_df[column_items[i]].values)
            if count >= min_support:
                L.append(result)
                support_count.append(count)
            else:
                new_discard.append(result)
    return L, support_count, new_discard

In [ ]:
def flatten(lis):
    for item in lis:
        if isinstance(item, Iterable) and not isinstance(item, str):
            for x in flatten(item):
                yield x
        else:        
            yield item

**Generating 1 itemse base on support count of row**

In [ ]:
C = {}
L = {}
Discard = {}
itemset_size = 1
Discard.update({itemset_size : []})

In [ ]:
combine = combinations(split_df.loc[:, split_df.columns != "RC"].columns, 1)
itemset_size = 1
min_support = 0.5
itemsets = []
for item in combine:
    coll_name = item[0].replace("[","").replace("]","").replace(",","")
    supp = support_k_itemst(split_df[[coll_name]].values)
    if supp >= min_support:
        itemsets.append([coll_name])
C.update({itemset_size : itemsets})

In [ ]:
support_count = {}
f, supp, new_discard = get_frequent(
    C[itemset_size], min_support, Discard
)
Discard.update({itemset_size: new_discard})
L.update({itemset_size: f})
support_count.update({itemset_size: supp})

**To Be Continue**

In [ ]:
order = list(split_df.loc[:, split_df.columns != 'RC'].columns)

In [ ]:
k = itemset_size + 1
convergence = False
while not convergence:
    C.update({k: join_set_item(L[k - 1], order)})
    f, supp, new_discard = get_frequent(C[k], min_support, Discard)
    L.update({k: f})
    Discard.update({k: new_discard})
    support_count.update({k: supp})
    if(len(L[k]) == 0):
        convergence = True
    k += 1

===========================**Vertify with lib**=======================================

In [ ]:
itemset = apriori(split_df.loc[:,split_df.columns != "RC"], min_support=min_support, use_colnames=True)
itemset

**Apriori Algorithms**