In [1]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

ModuleNotFoundError: No module named 'apriori'

In [2]:
# Changing the working location to the location of the file
path = "/home/sokhorn/sokhorn/dataSet/data"
 
# Loading the Data
data = pd.read_csv(f'{path}/Online Retail.csv')
data.head()

/home/sokhorn/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,InvoiceNo,StockCode,lower,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,white hanging heart t-light holder,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,1,536365,71053,white metal lantern,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,2,536365,84406B,cream cupid hearts coat hanger,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,3,536365,84029G,knitted union flag hot water bottle,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,4,536365,84029E,red woolly hottie white heart.,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [3]:
data.columns

Index(['Unnamed: 0', 'InvoiceNo', 'StockCode', 'lower', 'Description',
       'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [4]:

# Exploring the different regions of transactions
data.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [5]:

# Stripping extra spaces in the description
data['Description'] = data['Description'].str.strip()
 
# Dropping the rows without any invoice number
data.dropna(axis = 0, subset =['InvoiceNo'], inplace = True)
data['InvoiceNo'] = data['InvoiceNo'].astype('str')
 
# Dropping all transactions which were done on credit
data = data[~data['InvoiceNo'].str.contains('C')]

In [6]:

# Transactions done in France
basket_France = (data[data['Country'] =="France"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))
 
# Transactions done in the United Kingdom
basket_UK = (data[data['Country'] =="United Kingdom"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))
 
# Transactions done in Portugal
basket_Por = (data[data['Country'] =="Portugal"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))
 
basket_Sweden = (data[data['Country'] =="Sweden"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

In [7]:
# Defining the hot encoding function to make the data suitable
# for the concerned libraries
def hot_encode(x):
    if(x<= 0):
        return 0
    if(x>= 1):
        return 1
 
# Encoding the datasets
basket_encoded = basket_France.applymap(hot_encode)
basket_France = basket_encoded
 
basket_encoded = basket_UK.applymap(hot_encode)
basket_UK = basket_encoded
 
basket_encoded = basket_Por.applymap(hot_encode)
basket_Por = basket_encoded
 
basket_encoded = basket_Sweden.applymap(hot_encode)
basket_Sweden = basket_encoded

In [8]:
basket_France

Description,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 EGG HOUSE PAINTED WOOD,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS SMALL TUBE SKULL,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE WOODLAND,...,WRAP VINTAGE PETALS DESIGN,YELLOW COAT RACK PARIS FASHION,YELLOW GIANT GARDEN THERMOMETER,YELLOW SHARK HELICOPTER,ZINC STAR T-LIGHT HOLDER,ZINC FOLKART SLEIGH BELLS,ZINC HERB GARDEN CONTAINER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536370,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536852,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536974,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537065,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
537463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581598,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
581599,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
581600,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
581601,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
581602,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# Building the model
frq_items = apriori(basket_France, min_support = 0.05, use_colnames = True)

In [10]:
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
40,(JUMBO BAG WOODLAND ANIMALS),(POSTAGE),0.073710,0.737101,0.073710,1.000000,1.356667,0.019378,inf
234,"(PLASTERS IN TIN WOODLAND ANIMALS, RED TOADSTO...",(POSTAGE),0.051597,0.737101,0.051597,1.000000,1.356667,0.013565,inf
265,"(SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...",(SET/6 RED SPOTTY PAPER PLATES),0.098280,0.122850,0.095823,0.975000,7.936500,0.083749,35.085995
266,"(SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...",(SET/6 RED SPOTTY PAPER CUPS),0.098280,0.132678,0.095823,0.975000,7.348611,0.082783,34.692875
299,"(POSTAGE, SET/6 RED SPOTTY PAPER CUPS, SET/20 ...",(SET/6 RED SPOTTY PAPER PLATES),0.081081,0.122850,0.078624,0.969697,7.893333,0.068663,28.945946

In [13]:
path = "/home/sokhorn/sokhorn/dataSet/data/sample_data_set.csv"
df = pd.read_csv(f'{path}',sep=',')

In [14]:
sample_dataset = df[[
    'InvoiceNo', 
    'StockCode',
    'Quantity'
]]
sample_dataset

    InvoiceNo StockCode  Quantity
0      536365    85123A         6
1      536365     71053         6
2      536365    84406B         8
3      536365    84029G         6
4      536365    84029E         6
5      536365     22752         2
6      536365     21730         6
7      536366     22633         6
8      536366     22632         6
9      536367     84879        32
10     536367     22745         6
11     536367     22748         6
12     536367     22749         8
13     536368     84879        32
14     536368     22745         6
15     536368     22748         6
16     536368     22749         8
17     536369     84879        32
18     536369     22745         6
19     536369     22748         6
20     536369     22749         8
21     536370     22749         8
22     536371     22749         8

In [15]:
item_sets = (
    sample_dataset.groupby(['InvoiceNo', 'StockCode', ])['Quantity']
    .sum().unstack().reset_index().fillna(0)
    .set_index("InvoiceNo")
)
item_sets

StockCode,21730,22632,22633,22745,22748,22749,22752,71053,84029E,84029G,84406B,84879,85123A
InvoiceNo,,,,,,,,,,,,,
536365,6.0,0.0,0.0,0.0,0.0,0.0,2.0,6.0,6.0,6.0,8.0,0.0,6.0
536366,0.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536367,0.0,0.0,0.0,6.0,6.0,8.0,0.0,0.0,0.0,0.0,0.0,32.0,0.0
536368,0.0,0.0,0.0,6.0,6.0,8.0,0.0,0.0,0.0,0.0,0.0,32.0,0.0
536369,0.0,0.0,0.0,6.0,6.0,8.0,0.0,0.0,0.0,0.0,0.0,32.0,0.0
536370,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536371,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
def en_code(x):
    if x > 0 :
        return 1
    else:
        return 0

In [17]:
item_sets = item_sets.applymap(en_code)
item_sets

StockCode,21730,22632,22633,22745,22748,22749,22752,71053,84029E,84029G,84406B,84879,85123A
InvoiceNo,,,,,,,,,,,,,
536365,1,0,0,0,0,0,1,1,1,1,1,0,1
536366,0,1,1,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,1,1,1,0,0,0,0,0,1,0
536368,0,0,0,1,1,1,0,0,0,0,0,1,0
536369,0,0,0,1,1,1,0,0,0,0,0,1,0
536370,0,0,0,0,0,1,0,0,0,0,0,0,0
536371,0,0,0,0,0,1,0,0,0,0,0,0,0

In [21]:
frq_items_test = apriori(item_sets, min_support = 0.2, use_colnames = True)

In [20]:
frq_items_test

     support                      itemsets
0   0.428571                       (22745)
1   0.428571                       (22748)
2   0.714286                       (22749)
3   0.428571                       (84879)
4   0.428571                (22748, 22745)
5   0.428571                (22749, 22745)
6   0.428571                (22745, 84879)
7   0.428571                (22748, 22749)
8   0.428571                (22748, 84879)
9   0.428571                (22749, 84879)
10  0.428571         (22748, 22749, 22745)
11  0.428571         (22748, 22745, 84879)
12  0.428571         (22749, 22745, 84879)
13  0.428571         (22748, 22749, 84879)
14  0.428571  (22748, 22749, 22745, 84879)

In [22]:
rules = association_rules(frq_items_test, min_threshold=0.5)

In [23]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(22748),(22745),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
1,(22745),(22748),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
2,(22749),(22745),0.714286,0.428571,0.428571,0.6,1.400000,0.122449,1.428571
3,(22745),(22749),0.428571,0.714286,0.428571,1.0,1.400000,0.122449,inf
4,(22745),(84879),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
5,(84879),(22745),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
6,(22748),(22749),0.428571,0.714286,0.428571,1.0,1.400000,0.122449,inf
7,(22749),(22748),0.714286,0.428571,0.428571,0.6,1.400000,0.122449,1.428571
8,(22748),(84879),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
9,(84879),(22748),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
10,(22749),(84879),0.714286,0.428571,0.428571,0.6,1.400000,0.122449,1.428571
11,(84879),(22749),0.428571,0.714286,0.428571,1.0,1.400000,0.122449,inf
12,"(22748, 22749)",(22745),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
13,"(22748, 22745)",(22749),0.428571,0.714286,0.428571,1.0,1.400000,0.122449,inf
14,"(22749, 22745)",(22748),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
15,(22748),"(22749, 22745)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
16,(22749),"(22748, 22745)",0.714286,0.428571,0.428571,0.6,1.400000,0.122449,1.428571
17,(22745),"(22748, 22749)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
18,"(22748, 22745)",(84879),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
19,"(22748, 84879)",(22745),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
20,"(22745, 84879)",(22748),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
21,(22748),"(22745, 84879)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
22,(22745),"(22748, 84879)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
23,(84879),"(22748, 22745)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
24,"(22749, 22745)",(84879),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
25,"(22749, 84879)",(22745),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
26,"(22745, 84879)",(22749),0.428571,0.714286,0.428571,1.0,1.400000,0.122449,inf
27,(22749),"(22745, 84879)",0.714286,0.428571,0.428571,0.6,1.400000,0.122449,1.428571
28,(22745),"(22749, 84879)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
29,(84879),"(22749, 22745)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
30,"(22748, 22749)",(84879),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
31,"(22748, 84879)",(22749),0.428571,0.714286,0.428571,1.0,1.400000,0.122449,inf
32,"(22749, 84879)",(22748),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
33,(22748),"(22749, 84879)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
34,(22749),"(22748, 84879)",0.714286,0.428571,0.428571,0.6,1.400000,0.122449,1.428571
35,(84879),"(22748, 22749)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
36,"(22748, 22749, 22745)",(84879),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
37,"(22748, 22749, 84879)",(22745),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
38,"(22748, 22745, 84879)",(22749),0.428571,0.714286,0.428571,1.0,1.400000,0.122449,inf
39,"(22749, 22745, 84879)",(22748),0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
40,"(22748, 22749)","(22745, 84879)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
41,"(22748, 22745)","(22749, 84879)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
42,"(22748, 84879)","(22749, 22745)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
43,"(22749, 22745)","(22748, 84879)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
44,"(22749, 84879)","(22748, 22745)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
45,"(22745, 84879)","(22748, 22749)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
46,(22748),"(22749, 22745, 84879)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
47,(22749),"(22748, 22745, 84879)",0.714286,0.428571,0.428571,0.6,1.400000,0.122449,1.428571
48,(22745),"(22748, 22749, 84879)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf
49,(84879),"(22748, 22749, 22745)",0.428571,0.428571,0.428571,1.0,2.333333,0.244898,inf