In [104]:
import pandas as pd
import numpy as np
from itertools import combinations

In [105]:
df = pd.read_csv('/home/sokhorn/sokhorn/dataSet/data/sample_data_set.csv',sep=',')
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df

,InvoiceNo,StockCode,lower,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,white metal lantern,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,red woolly hottie white heart.,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
5,536365,22752,set 7 babushka nesting boxes,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,United Kingdom
6,536365,21730,glass star frosted t-light holder,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom
7,536366,22633,hand warmer union jack,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
8,536366,22632,hand warmer red polka dot,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
9,536367,84879,assorted colour bird ornament,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047,United Kingdom
10,536367,22745,poppy's playhouse bedroom,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047,United Kingdom
11,536367,22748,poppy's playhouse kitchen,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047,United Kingdom
12,536367,22749,feltcraft princess charlotte doll,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047,United Kingdom
13,536368,84879,assorted colour bird ornament,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047,United Kingdom
14,536368,22745,poppy's playhouse bedroom,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047,United Kingdom
15,536368,22748,poppy's playhouse kitchen,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047,United Kingdom
16,536368,22749,feltcraft princess charlotte doll,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047,United Kingdom
17,536369,84879,assorted colour bird ornament,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047,United Kingdom
18,536369,22745,poppy's playhouse bedroom,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047,United Kingdom
19,536369,22748,poppy's playhouse kitchen,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047,United Kingdom
20,536369,22749,feltcraft princess charlotte doll,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047,United Kingdom
21,536370,22749,feltcraft princess charlotte doll,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047,United Kingdom
22,536371,22749,feltcraft princess charlotte doll,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047,United Kingdom

In [106]:
sample_dataset = df[[
    'InvoiceNo', 
    'StockCode',
    'Quantity'
]]
sample_dataset

    InvoiceNo StockCode  Quantity
0      536365    85123A         6
1      536365     71053         6
2      536365    84406B         8
3      536365    84029G         6
4      536365    84029E         6
5      536365     22752         2
6      536365     21730         6
7      536366     22633         6
8      536366     22632         6
9      536367     84879        32
10     536367     22745         6
11     536367     22748         6
12     536367     22749         8
13     536368     84879        32
14     536368     22745         6
15     536368     22748         6
16     536368     22749         8
17     536369     84879        32
18     536369     22745         6
19     536369     22748         6
20     536369     22749         8
21     536370     22749         8
22     536371     22749         8

In [107]:
sample_dataset.groupby(['InvoiceNo', 'StockCode', ])['Quantity'].sum()

InvoiceNo  StockCode
536365     21730         6
           22752         2
           71053         6
           84029E        6
           84029G        6
           84406B        8
           85123A        6
536366     22632         6
           22633         6
536367     22745         6
           22748         6
           22749         8
           84879        32
536368     22745         6
           22748         6
           22749         8
           84879        32
536369     22745         6
           22748         6
           22749         8
           84879        32
536370     22749         8
536371     22749         8
Name: Quantity, dtype: int64

In [108]:
item_sets = (
    sample_dataset.groupby(['InvoiceNo', 'StockCode', ])['Quantity']
    .sum().unstack().reset_index().fillna(0)
    .set_index("InvoiceNo")
)
item_sets

StockCode,21730,22632,22633,22745,22748,22749,22752,71053,84029E,84029G,84406B,84879,85123A
InvoiceNo,,,,,,,,,,,,,
536365,6.0,0.0,0.0,0.0,0.0,0.0,2.0,6.0,6.0,6.0,8.0,0.0,6.0
536366,0.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536367,0.0,0.0,0.0,6.0,6.0,8.0,0.0,0.0,0.0,0.0,0.0,32.0,0.0
536368,0.0,0.0,0.0,6.0,6.0,8.0,0.0,0.0,0.0,0.0,0.0,32.0,0.0
536369,0.0,0.0,0.0,6.0,6.0,8.0,0.0,0.0,0.0,0.0,0.0,32.0,0.0
536370,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536371,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [109]:
def en_code(x):
    if x > 0 :
        return 1
    else:
        return 0

In [110]:
item_sets = item_sets.applymap(en_code)
item_sets

StockCode,21730,22632,22633,22745,22748,22749,22752,71053,84029E,84029G,84406B,84879,85123A
InvoiceNo,,,,,,,,,,,,,
536365,1,0,0,0,0,0,1,1,1,1,1,0,1
536366,0,1,1,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,1,1,1,0,0,0,0,0,1,0
536368,0,0,0,1,1,1,0,0,0,0,0,1,0
536369,0,0,0,1,1,1,0,0,0,0,0,1,0
536370,0,0,0,0,0,1,0,0,0,0,0,0,0
536371,0,0,0,0,0,1,0,0,0,0,0,0,0

In [111]:
from itertools import combinations

In [112]:
cc = list(combinations(item_sets.columns, 1))

In [113]:
item_sets[sorted(cc[0])].sum() / len(item_sets)

StockCode
21730    0.142857
dtype: float64

In [114]:
item_sets

StockCode,21730,22632,22633,22745,22748,22749,22752,71053,84029E,84029G,84406B,84879,85123A
InvoiceNo,,,,,,,,,,,,,
536365,1,0,0,0,0,0,1,1,1,1,1,0,1
536366,0,1,1,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,1,1,1,0,0,0,0,0,1,0
536368,0,0,0,1,1,1,0,0,0,0,0,1,0
536369,0,0,0,1,1,1,0,0,0,0,0,1,0
536370,0,0,0,0,0,1,0,0,0,0,0,0,0
536371,0,0,0,0,0,1,0,0,0,0,0,0,0

In [115]:
k_itemst = item_sets[['22748', '22749']]
k_itemst.loc[(k_itemst['22748'] > 0) & (k_itemst['22749'] > 0)]

StockCode  22748  22749
InvoiceNo
536367         1      1
536368         1      1
536369         1      1

In [116]:
item_sets[['22748', '22749']]

StockCode  22748  22749
InvoiceNo
536365         0      0
536366         0      0
536367         1      1
536368         1      1
536369         1      1
536370         0      1
536371         0      1

In [117]:
item_sets[['22748', '22749']].values

array([[0, 0],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 1],
       [0, 1]])

In [118]:
support_count = 0
for i in item_sets[['22748', '22749']].values:
    if(np.all(i != 0)):
        support_count += 1
support_count

3

In [119]:
item_sets

StockCode,21730,22632,22633,22745,22748,22749,22752,71053,84029E,84029G,84406B,84879,85123A
InvoiceNo,,,,,,,,,,,,,
536365,1,0,0,0,0,0,1,1,1,1,1,0,1
536366,0,1,1,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,1,1,1,0,0,0,0,0,1,0
536368,0,0,0,1,1,1,0,0,0,0,0,1,0
536369,0,0,0,1,1,1,0,0,0,0,0,1,0
536370,0,0,0,0,0,1,0,0,0,0,0,0,0
536371,0,0,0,0,0,1,0,0,0,0,0,0,0

In [120]:
item_sets[sorted(cc[1])].values[1] = 0

In [121]:
def calculate_support(k_itemst, trnaction_size = len(item_sets.index)):
    support_count = 0
    for i in k_itemst.values:
        if(np.all(i != 0)):
            support_count += 1
    return support_count / trnaction_size

***Frequent Itemset Generation***

In [122]:
min_support =0.2
item_sest_1 =  combinations(item_sets.columns, 1)
c1 =  [{x : calculate_support(item_sets[sorted(x)])} for x in sorted(item_sest_1) if calculate_support(item_sets[sorted(x)]) >= min_support]

{('22745',): 0.42857142857142855}

In [180]:
k = 1
fk = c1
frequent_itemst = []
while(len(fk) != 0):
    k += 1
    item_sest_k = combinations(item_sets.columns, k)
    c_k = [{x: calculate_support(item_sets[sorted(x)])} for x in sorted(
        item_sest_k) if calculate_support(item_sets[sorted(x)]) >= min_support]
    if(len(c_k) == 0):
        break
    else:
        
        fk.append(c_k)

In [131]:
aa = [{
    "Items": 1, "Support": 12
}]
pd.DataFrame(aa, columns=['Items', "Support"])

   Items  Support
0      1       12

In [179]:
fk[0].items()

dict_items([(('22745',), 0.42857142857142855)])

In [124]:
pd.DataFrame(fk,  columns = ["Items", "Support"])

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
list(fk[-1][0].keys())[0]

**Other Function of Apriori**

In [ ]:
def APRIORI_MY(data, min_support=0.04,  max_length = 4):
    # Collecting Required Library
    import numpy as np
    import pandas as pd
    from itertools import combinations
    # Step 1:
    # Creating a dictionary to stored support of an itemset.
    support = {} 
    L = list(data.columns)
    
    # Step 2: 
    #generating combination of items with len i in ith iteration
    for i in range(1, max_length+1):
        c = set(combinations(L,i))
        
    # Reset "L" for next ith iteration
        L =set()     
    # Step 3: 
        #iterate through each item in "c"
        for j in list(c):
        
            sup = data.loc[:,j].product(axis=1).sum()/len(data.index)
          
            if sup > min_support:
                #print(sup, j)
                support[j] = sup
                
                # Appending frequent itemset in list "L", already reset list "L" 
                L = list(set(L) | set(j))
        
    # Step 4: data frame with cols "items", 'support'
    result = pd.DataFrame(list(support.items()), columns = ["Items", "Support"])
    return(result)

In [ ]:
fk =  APRIORI_MY(item_sets)
fk

In [ ]:
L = item_sets.columns
c = {}
for i in range(1, len(item_sets.index)):
    c = set(combinations(L, i),)

In [ ]:
c