In [1]:
from itertools import combinations, chain
import pandas as pd

In [3]:
df = pd.DataFrame({'a': [1, 2, 3], 'b': [2, 3, 4], 'c': [
                  'dd', 'ee', 'ff'], 'd': [5, 9, 1]})
df

   a  b   c  d
0  1  2  dd  5
1  2  3  ee  9
2  3  4  ff  1

### Python Data Type

In [ ]:
# sequence types : list, tuple, rang
# mapping type : dict
# set type : set, frozenset

In [ ]:
x = ["Apple", "Banana", "Cherry"]
x

In [ ]:
# count element in the list
x.count('Apple')

In [ ]:
# list comprehension

x_pow_2 = [x ** 2 for x in range(10)]

x_pow_2

In [ ]:
x_pow_2 = []
for i in range(10):
    x_pow_2.append(2 ** i)
x_pow_2

In [ ]:
# do all when it statfi with condiction 
x_pow_2 = [ 2 ** i for i in range(10) if i > 5 ]
x_pow_2

In [ ]:
pow2 = [2 ** x for x in range(10) if x > 5]
pow2

In [ ]:
x = ("Apple", "Banana", "Cherry")
x

In [ ]:
x

In [ ]:
for i in x:
    print("name : ", i)

In [ ]:
x[0:3]

In [ ]:
x = range(6)
x

In [ ]:
x = {"name": "sokhorn", "age": 18}
x

In [ ]:
# Dictionary Methods
marks = {}.fromkeys(['Math', 'English', 'Science'], 0)
print(marks)

In [ ]:
squares = {  x : x * x   for x in range(6) }
squares

In [ ]:
odd_squares = {  x : x * x for x in range(6)   if x % 2 == 0  }
odd_squares

In [ ]:
# set: order, none dublicate 
x = { "banana", "cherry", "cherry", "apple"}
x
# update for add new item 
# discard() for remove item from set 
# pop() remove the last element from set 
x.pop()
x

### set operation

In [ ]:
# Set Union
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

A.union(B)

In [ ]:
A.intersection(B)

In [ ]:
x = frozenset({"apple", 'banana', 'cherry'})
x

### Iterator

In [ ]:
# define a list
my_list = [4, 7, 0, 3]
my_list = iter(my_list)
print(next(my_list))

In [ ]:
for i in my_list:
    print(i)

### Generator

In [ ]:
def square_numbers(nums):
    for i in nums:
        yield i * i
nums = [1, 2, 3, 4, 5]

for i in square_numbers(nums):
    print(i)

In [ ]:
# change from [ ] to () for generator 
ny_nums = ( x * x for x in range(5) )
ny_nums

In [ ]:
for i in ny_nums:
    print(i)

In [ ]:
import pandas as pd

In [ ]:
df_titanic = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

In [ ]:
df

In [ ]:
df.info()

### Select 
#### Select subset

In [ ]:
age_sex = df[['Age', 'Sex']]
age_sex

In [ ]:
# select with customer
age_above_20 = df[df['Age'] > 20]
age_above_20

In [ ]:
# notna : return all value which is not null. 
age_above_20.isin([22, 35]).notna()

select specific row and column from data frame

In [ ]:
# select specific row with column name 'name' 
adult_names = df.loc[df['Age'] > 20, ][['Name', 'Age', 'Sex']]  
adult_names

In [ ]:
# Select some row index and column index 
# select from row 0 to 1 and column from index 0 to 4 
df.iloc[0:3, 0:4]

In [ ]:
df.rename(
    columns=str.lower
)

In [ ]:
df.columns

In [ ]:
df[[ 'Sex', "Age"]]

In [ ]:
df.agg(
    {
        "Age" : ["min", "max", "count", "median", "skew"]
    }
)

In [ ]:
df[['Age', 'Sex']].groupby('Sex').mean()

In [ ]:
df.groupby("Sex")['Age'].mean()

In [ ]:
df['Age'].value_counts()

In [ ]:
df[[ 'Sex', "Age"]].groupby("Sex").mean()

In [ ]:
df.sort_values(by=['Name', 'Age'], ascending=False )

In [ ]:
df.pivot_table(
    values="value",
    index="location",
    columns="parameter",
    aggfunc="mean",
    margins=True,
)

In [ ]:
df
no2 = df[  df['parameter'] == 'no2'  ]

In [ ]:
no2_pivoted = no2.pivot(
    columns='location',
    values='value'
).reset_index()
no2_pivoted

In [ ]:
no2_pivoted = no2.pivot(
    columns='location',
    values='value'
).reset_index()

no2_pivoted

In [ ]:
""" stuck I canot do it now """
# no_2 =  no2_pivoted.melt(id_vars="date.utc")

### merge data from multiple tables

In [ ]:
df

In [ ]:
df_no_2 = df[ df['parameter'] == 'no2' ]
df_no_2

In [ ]:
df_pm_25 = df[ df['parameter'] == 'pm25' ]
df_pm_25

In [ ]:
df_concate = pd.concat([ df_pm_25,  df_no_2], axis=0)
df_concate.sort_values('date.utc', ascending=False)

In [ ]:
df_no2_pm25 = pd.concat([ df_pm_25,  df_no_2], axis=0, keys=['pm25', 'no2'])
df_no2_pm25

In [ ]:
air_quality = pd.merge(
    df_no_2, df_no2_pm25, how='left', on='location'
)
air_quality

### Handle time serie data

In [ ]:
df_no_2['datetime'] = pd.to_datetime(df_no_2['date.utc'])

In [ ]:
df_no_2

In [ ]:
df_no_2['datetime'].min(), df_no_2['datetime'].max()

### Manipulate textual data

In [ ]:
df_titanic

In [ ]:
df_titanic['Sex'].replace({
    'male' :"M",
    'female' :"F",
}, inplace=True)

In [ ]:
df_titanic

### Stack

In [ ]:
import numpy as np

In [ ]:
index = pd.MultiIndex.from_tuples([('one', 'x'), ('one', 'y'),
                                   ('two', 'x'), ('two', 'y')])
s = pd.DataFrame(pd.Series(np.arange(2.0, 6.0), index=index))
s

In [ ]:
s.unstack(level=-1)

In [ ]:
s

In [ ]:
df = s.unstack(level=0)
df.unstack()

In [ ]:
dict([(1, 2)])

In [ ]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df.replace({
    "False" : 0, 
    "True" : 1
}, inplace=True)
df

In [ ]:
3/5

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
item_set =  apriori(df, min_support=0.6, use_colnames=True)
item_set

In [ ]:
1/ 5

In [ ]:
item_set

In [ ]:
rules = association_rules(item_set)

In [ ]:
rules

In [ ]:
posible_2_itemseet = df[['Eggs', 'Kidney Beans', 'Milk', "Onion", "Yogurt"]]
posible_2_itemseet

In [ ]:
posible_2_itemseet.groupby(['Yogurt', 'Kidney Beans', "Onion"]).count()

In [ ]:
posible_2_itemseet.groupby(['Onion', 'Yogurt']).count()

In [ ]:
2/5

In [ ]:
df.values

In [ ]:
4 / 11

In [ ]:
df = [[1, 3, 4], [2, 3, 5], [1, 2, 3, 5], [2, 5]]

In [ ]:
set_list =  [set(item) for item in df]

In [ ]:
set_list

In [ ]:
l = [22, 13, 45, 50, 98, 69, 43, 44, 1]

In [ ]:
aa = [ x+1 if x > 45 else x + 5 for x in l]

In [ ]:
a  =(1, 3)
b = (2, 3)

In [ ]:
a = {1, 3}
b = {2, 3}

In [ ]:
list(a.union(b))

In [ ]:
a.union(b)

In [ ]:
import pandas as pd
  
# Creating the dataframe 
df = pd.DataFrame({"A":[1, 5, 3, 4, 2], 
                   "B":[3, 2, 4, 3, 4], 
                   "C":[2, 2, 7, 3, 4], 
                   "D":[4, 3, 6, 12, 7]})

In [ ]:
df.product(axis=1)

In [ ]:
import pandas as pd
df =  pd.read_csv("/home/sokhorn/sokhorn/dataSet/data/Online Retail.csv")

In [ ]:
df.columns

In [ ]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df

In [ ]:
df.groupby(['CustomerID']).count()

In [ ]:
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
langs = df['InvoiceNo'].head(100)
students = df['StockCode'].head(100)
ax.scatter(langs,students)
plt.show()

In [ ]:
l = {"one" : 1, "two" : 2}

In [ ]:
l.update({"one" :"this is one"})

In [ ]:
my_list = [1, 2, 3]

In [ ]:
my_chain =  chain.from_iterable(combinations(my_list, r) for r in range(1, len(my_list) + 1) )

In [ ]:
for i in my_chain:
    print(i)

In [ ]:
from operator import attrgetter
shows = [
  {"id": 1, "name": "Sesaeme Street"},
  {"id": 2, "name": "Dora The Explorer"},
]
shows.sort(key=attrgetter('id'))

**F_k-1 x F_k-1**
</br>
Merge two frequent (k-1)-itemsets if their first (k-2) items are identical

In [226]:
f = [['A','B', 'C'],['A','B','D'],['A','B','E'],['A','C','D'],['B','C','D'],['B','D','E'],['C','D','E']]
# f = [['A','B'],['A','C'],['B','C'],['B','D'],['C','D']]
# f = [  ['A', 'B'], ['B', 'C'], ['B', 'D'] ,['A', 'C'], ['C', 'D']]
# f = [  [ 'A', 'B', 'D' ], ['B', 'D', 'C'],  ['C', 'A', 'B'] ,['A', 'C', 'D']]
# f = [['A'],['B'],['C'],['D']]
k = len(f[1])

In [232]:
prune_list = [  ]

In [ ]:
# candidate generation and caidate pruning 
merged_item = []
for i in range(len(f)):
    for j in range(i + 1, len(f)):
        if f[i][-(k-1):] == f[j][:k-1]:
            print(f"Itemset {f[i]} {f[j]}")
            item = set(f[i]).union(f[j])
            if len(prune_list) != 0:
                for p in prune_list:
                    if p != item:
                        merged_item.append(item)
            else :
                merged_item.append(item)
merged_item

In [3]:

# Python3 program to convert a list
# of integers into a single integer
def convert(list):
      
    # multiply each integer element with its 
    # corresponding power and perform summation
  
    res = sum(d * 10**i for i, d in enumerate(list[::-1]))
      
    return(res)
  
# Driver code
list = [1, 2, 3]
print(convert(list))

123

Convert every list into one

In [11]:
lis = [['c', 'd'], 2, 2, 4, 5, 3, 1, 3, ['c']]

from collections import Iterable

def flatten(lis):
    for item in lis:
        if isinstance(item, Iterable) and not isinstance(item, str):
            for x in flatten(item):
                yield x
        else:        
            yield item


newSet = flatten(lis)

In [12]:
[i for i in newSet]

['c', 'd', 2, 2, 4, 5, 3, 1, 3, 'c']

In [4]:
from itertools import accumulate
a = [3, 4, 6, 2, 1, 9, 0, 7, 5, 8]
results = list(accumulate(a , max))
results

[3, 4, 6, 6, 6, 9, 9, 9, 9, 9]

In [4]:
import pandas as pd
import numpy as np
# Create sample dataframe
raw_data = {'ID': ['A1', 'B1', 'C1', 'D1'], 
'Domain': ['Finance', 'IT', 'IT', 'Finance'], 
'Target': [1, 2, 3, 1], 
'Criteria':['<=', '<=', '>=', '>='],
"1/01":[0.9, 1.1, 2.1, 1],
"1/02":[0.4, 0.3, 0.5, 0.9], 
"1/03":[1, 1, 4, 1.1], 
"1/04":[0.7, 0.7, 0.1, 1],
"1/05":[0.7, 0.7, 0.1, 1], 
"1/06":[0.9, 1.1, 2.1, 1],}



df = pd.DataFrame(raw_data, columns = ['ID', 'Domain', 'Target','Criteria', '1/01', 
'1/02','1/03', '1/04','1/05', '1/06','Sum'])
df

   ID   Domain  Target Criteria  1/01  1/02  1/03  1/04  1/05  1/06  Sum
0  A1  Finance       1       <=   0.9   0.4   1.0   0.7   0.7   0.9  NaN
1  B1       IT       2       <=   1.1   0.3   1.0   0.7   0.7   1.1  NaN
2  C1       IT       3       >=   2.1   0.5   4.0   0.1   0.1   2.1  NaN
3  D1  Finance       1       >=   1.0   0.9   1.1   1.0   1.0   1.0  NaN

In [7]:
dates = df.iloc[:,4:].to_numpy()
target = df[['Target']].to_numpy()

df['Sum'] = np.where(
  (df['Criteria'] == '<=')[:,None], dates > target, dates < target).sum(axis=1)
df

/tmp/ipykernel_21721/2259894463.py:5: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  (df['Criteria'] == '<=')[:,None], dates > target, dates < target).sum(axis=1)

   ID   Domain  Target Criteria  1/01  1/02  1/03  1/04  1/05  1/06  Sum
0  A1  Finance       1       <=   0.9   0.4   1.0   0.7   0.7   0.9    0
1  B1       IT       2       <=   1.1   0.3   1.0   0.7   0.7   1.1    0
2  C1       IT       3       >=   2.1   0.5   4.0   0.1   0.1   2.1    5
3  D1  Finance       1       >=   1.0   0.9   1.1   1.0   1.0   1.0    1