In [1]:
from itertools import combinations
import pandas as pd

In [2]:
df = pd.DataFrame({'a': [1, 2, 3], 'b': [2, 3, 4], 'c': [
                  'dd', 'ee', 'ff'], 'd': [5, 9, 1]})

### Python Data Type

In [3]:
# sequence types : list, tuple, rang
# mapping type : dict
# set type : set, frozenset

In [4]:
x = ["Apple", "Banana", "Cherry"]
x

['Apple', 'Banana', 'Cherry']

In [5]:
# count element in the list
x.count('Apple')

1

In [6]:
# list comprehension

x_pow_2 = [x ** 2 for x in range(10)]

x_pow_2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
x_pow_2 = []
for i in range(10):
    x_pow_2.append(2 ** i)
x_pow_2

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [8]:
# do all when it statfi with condiction 
x_pow_2 = [ 2 ** i for i in range(10) if i > 5 ]
x_pow_2

[64, 128, 256, 512]

In [9]:
pow2 = [2 ** x for x in range(10) if x > 5]
pow2

[64, 128, 256, 512]

In [10]:
x = ("Apple", "Banana", "Cherry")
x

('Apple', 'Banana', 'Cherry')

In [11]:
x

('Apple', 'Banana', 'Cherry')

In [12]:
for i in x:
    print("name : ", i)

name :  Apple
name :  Banana
name :  Cherry

In [13]:
x[0:3]

('Apple', 'Banana', 'Cherry')

In [14]:
x = range(6)
x

range(0, 6)

In [15]:
x = {"name": "sokhorn", "age": 18}
x

{'name': 'sokhorn', 'age': 18}

In [16]:
# Dictionary Methods
marks = {}.fromkeys(['Math', 'English', 'Science'], 0)
print(marks)

{'Math': 0, 'English': 0, 'Science': 0}

In [17]:
squares = {  x : x * x   for x in range(6) }
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [18]:
odd_squares = {  x : x * x for x in range(6)   if x % 2 == 0  }
odd_squares

{0: 0, 2: 4, 4: 16}

In [19]:
# set: order, none dublicate 
x = { "banana", "cherry", "cherry", "apple"}
x
# update for add new item 
# discard() for remove item from set 
# pop() remove the last element from set 
x.pop()
x

{'apple', 'cherry'}

### set operation

In [20]:
# Set Union
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [21]:
A.intersection(B)

{4, 5}

In [22]:
x = frozenset({"apple", 'banana', 'cherry'})
x

frozenset({'apple', 'banana', 'cherry'})

### Iterator

In [23]:
# define a list
my_list = [4, 7, 0, 3]
my_list = iter(my_list)
print(next(my_list))

4

In [24]:
for i in my_list:
    print(i)

7
0
3

### Generator

In [25]:
def square_numbers(nums):
    for i in nums:
        yield i * i
nums = [1, 2, 3, 4, 5]

for i in square_numbers(nums):
    print(i)

1
4
9
16
25

In [26]:
# change from [ ] to () for generator 
ny_nums = ( x * x for x in range(5) )
ny_nums

In [27]:
for i in ny_nums:
    print(i)

0
1
4
9
16

In [28]:
import pandas as pd

In [29]:
df_titanic = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

In [30]:
df

   a  b   c  d
0  1  2  dd  5
1  2  3  ee  9
2  3  4  ff  1

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      object
 3   d       3 non-null      int64
dtypes: int64(3), object(1)
memory usage: 224.0+ bytes

### Select 
#### Select subset

In [32]:
age_sex = df[['Age', 'Sex']]
age_sex

KeyError: "None of [Index(['Age', 'Sex'], dtype='object')] are in the [columns]"

In [ ]:
# select with customer
age_above_20 = df[df['Age'] > 20]
age_above_20

In [ ]:
# notna : return all value which is not null. 
age_above_20.isin([22, 35]).notna()

select specific row and column from data frame

In [ ]:
# select specific row with column name 'name' 
adult_names = df.loc[df['Age'] > 20, ][['Name', 'Age', 'Sex']]  
adult_names

In [ ]:
# Select some row index and column index 
# select from row 0 to 1 and column from index 0 to 4 
df.iloc[0:3, 0:4]

In [ ]:
df.rename(
    columns=str.lower
)

In [ ]:
df.columns

In [ ]:
df[[ 'Sex', "Age"]]

In [ ]:
df.agg(
    {
        "Age" : ["min", "max", "count", "median", "skew"]
    }
)

In [ ]:
df[['Age', 'Sex']].groupby('Sex').mean()

In [ ]:
df.groupby("Sex")['Age'].mean()

In [ ]:
df['Age'].value_counts()

In [ ]:
df[[ 'Sex', "Age"]].groupby("Sex").mean()

In [ ]:
df.sort_values(by=['Name', 'Age'], ascending=False )

In [ ]:
df.pivot_table(
    values="value",
    index="location",
    columns="parameter",
    aggfunc="mean",
    margins=True,
)

In [ ]:
df
no2 = df[  df['parameter'] == 'no2'  ]

In [ ]:
no2_pivoted = no2.pivot(
    columns='location',
    values='value'
).reset_index()
no2_pivoted

In [ ]:
no2_pivoted = no2.pivot(
    columns='location',
    values='value'
).reset_index()

no2_pivoted

In [ ]:
""" stuck I canot do it now """
# no_2 =  no2_pivoted.melt(id_vars="date.utc")

### merge data from multiple tables

In [ ]:
df

In [ ]:
df_no_2 = df[ df['parameter'] == 'no2' ]
df_no_2

In [ ]:
df_pm_25 = df[ df['parameter'] == 'pm25' ]
df_pm_25

In [ ]:
df_concate = pd.concat([ df_pm_25,  df_no_2], axis=0)
df_concate.sort_values('date.utc', ascending=False)

In [ ]:
df_no2_pm25 = pd.concat([ df_pm_25,  df_no_2], axis=0, keys=['pm25', 'no2'])
df_no2_pm25

In [ ]:
air_quality = pd.merge(
    df_no_2, df_no2_pm25, how='left', on='location'
)
air_quality

### Handle time serie data

In [ ]:
df_no_2['datetime'] = pd.to_datetime(df_no_2['date.utc'])

In [ ]:
df_no_2

In [ ]:
df_no_2['datetime'].min(), df_no_2['datetime'].max()

### Manipulate textual data

In [ ]:
df_titanic

In [ ]:
df_titanic['Sex'].replace({
    'male' :"M",
    'female' :"F",
}, inplace=True)

In [ ]:
df_titanic

### Stack

In [ ]:
import numpy as np

In [ ]:
index = pd.MultiIndex.from_tuples([('one', 'x'), ('one', 'y'),
                                   ('two', 'x'), ('two', 'y')])
s = pd.DataFrame(pd.Series(np.arange(2.0, 6.0), index=index))
s

In [ ]:
s.unstack(level=-1)

In [ ]:
s

In [ ]:
df = s.unstack(level=0)
df.unstack()

In [ ]:
dict([(1, 2)])

In [ ]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df.replace({
    "False" : 0, 
    "True" : 1
}, inplace=True)
df

In [ ]:
3/5

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
item_set =  apriori(df, min_support=0.6, use_colnames=True)
item_set

In [ ]:
1/ 5

In [ ]:
item_set

In [ ]:
rules = association_rules(item_set)

In [ ]:
rules

In [ ]:
posible_2_itemseet = df[['Eggs', 'Kidney Beans', 'Milk', "Onion", "Yogurt"]]
posible_2_itemseet

In [ ]:
posible_2_itemseet.groupby(['Yogurt', 'Kidney Beans', "Onion"]).count()

In [ ]:
posible_2_itemseet.groupby(['Onion', 'Yogurt']).count()

In [ ]:
2/5

In [ ]:
df.values

In [ ]:
4 / 11

In [ ]:
df = [[1, 3, 4], [2, 3, 5], [1, 2, 3, 5], [2, 5]]

In [ ]:
set_list =  [set(item) for item in df]

In [ ]:
set_list

In [ ]:
l = [22, 13, 45, 50, 98, 69, 43, 44, 1]

In [ ]:
aa = [ x+1 if x > 45 else x + 5 for x in l]

In [ ]:
a  =(1, 3)
b = (2, 3)

In [ ]:
a = {1, 3}
b = {2, 3}

In [ ]:
list(a.union(b))

In [ ]:
a.union(b)

In [33]:
import pandas as pd
  
# Creating the dataframe 
df = pd.DataFrame({"A":[1, 5, 3, 4, 2], 
                   "B":[3, 2, 4, 3, 4], 
                   "C":[2, 2, 7, 3, 4], 
                   "D":[4, 3, 6, 12, 7]})

In [55]:
df.product(axis=1)

0     24
1     60
2    504
3    432
4    224
dtype: int64