In [1]:

import pandas as pd
import numpy as np
import numpy_indexed as npi
from itertools import combinations, product
from functools import reduce
from collections.abc import Iterable
import math
import timeit
import matplotlib.pyplot as plt

In [5]:
  f = open(
      "/home/sokhorn/sokhorn/dataSet/data/TrancReduuction/agaricus-lepiota-datasets.txt")
   for i,  line in enumerate(f):
        tokens = line.replace('\n', '').split(',')
        len_line = len(tokens)
        for j in tokens:
            print(j)
        print("===")
    f.close()

e
b
s
w
t
l
f
c
b
n
e
c
s
s
w
w
p
w
o
p
n
n
m
===
p
x
y
w
t
p
f
c
n
n
e
e
s
s
w
w
p
w
o
p
k
s
u
===

In [75]:
df = pd.DataFrame(columns=['InvoiceNo', 'StockCode', "qty"])
df

Empty DataFrame
Columns: [InvoiceNo, StockCode, qty]
Index: []

In [78]:
path = "/home/sokhorn/sokhorn/dataSet/data/TrancReduuction/clean/agaricus-lepiota-datasets_clean.csv"

In [81]:
sample_dataset = pd.read_csv(path, usecols=[
    'InvoiceNo', 'StockCode', 'qty'
])
sample_dataset

        InvoiceNo StockCode  qty
0               0         x    1
1               0         s    1
2               0         n    1
3               0         t    1
4               0         k    1
...           ...       ...  ...
110656       8123         f    1
110657       8123         a    1
110658       8123         y    1
110659       8123         ?    1
110660       8124        \n    1

[110661 rows x 3 columns]

In [83]:
itemsets = (
    sample_dataset.groupby(
        ['InvoiceNo', 'StockCode', ])['qty']
    .sum().unstack().reset_index().fillna(0)
    .set_index("InvoiceNo")
)
itemsets

StockCode,\n,?,a,b,c,d\n,e,f,g,g\n,...,r,s,t,u,u\n,v,w,w\n,x,y
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
2,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0
4,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8120,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
8121,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8122,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
8123,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
8124,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
itemset_reductabc, rc_values = npi.count(itemsets.values)

In [88]:
itemset_reductabc.shape

(517, 30)