In [2]:
import pandas as pd
import numpy as np
# Import all libraries for the rest of the blog post
from scipy.integrate import quad
import scipy.stats as st
import timeit
import math
from mlxtend.frequent_patterns import apriori, association_rules

In [5]:
path = "/home/sokhorn/sokhorn/Rupp/semester II/finalProject/apiori/appriori/youTube/data_1.txt"
df = pd.DataFrame(columns=['InvoiceNo', 'StockCode', "qty"])
f = open(path)
for i,  line in enumerate(f):
    tokens = line.replace('\n', '').split(',')
    len_line = len(tokens)
    print(tokens)
    for j in tokens:
        df.loc[len(df.index)] = [i, j, 1]

f.close()

['I1', 'I2', 'I5']
['I2', 'I4']
['I2', 'I3']
['I1', 'I2', 'I4']
['I1', 'I3']
['I2', 'I3']
['I1', 'I3']
['I1', 'I2', 'I3', 'I5']
['I1', 'I2', 'I3']

In [6]:
df

   InvoiceNo StockCode qty
0          0        I1   1
1          0        I2   1
2          0        I5   1
3          1        I2   1
4          1        I4   1
5          2        I2   1
6          2        I3   1
7          3        I1   1
8          3        I2   1
9          3        I4   1
10         4        I1   1
11         4        I3   1
12         5        I2   1
13         5        I3   1
14         6        I1   1
15         6        I3   1
16         7        I1   1
17         7        I2   1
18         7        I3   1
19         7        I5   1
20         8        I1   1
21         8        I2   1
22         8        I3   1

In [9]:
itemset = df.groupby(['InvoiceNo', 'StockCode'])['qty'].sum(
).unstack().reset_index().fillna(0).set_index("InvoiceNo").astype(int)
itemset

StockCode  I1  I2  I3  I4  I5
InvoiceNo
0           1   1   0   0   1
1           0   1   0   1   0
2           0   1   1   0   0
3           1   1   0   1   0
4           1   0   1   0   0
5           0   1   1   0   0
6           1   0   1   0   0
7           1   1   1   0   1
8           1   1   1   0   0